<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sboj.gb</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-dark bg-color-dark">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-info h4" href="/">Sboj.gb</a>

        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto row col-md-7 justify-content-end">
                <li class="nav-item active col-md-2">
                    <a class="nav-link text-info h5" href="/">Home</a>
                </li>
                <li class="nav-item active col-md-2">
                    <a class="nav-link text-info h5" href="/jobs/add">Add Job</a>
                </li>
                <li class="nav-item active col-md-2">
                    <a class="nav-link text-info h5" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="my-2"/>
    <div class="text-center mb-3">
        <h4 class="text-info">Welcome, $(username)</h4>
    </div>
    <hr class="my-2">
    <div class="container">
        $(jobApplications)
    </div>
    <hr class="my-3"/>
    <footer class="footer">
        <div class="mb-3">
            <div class="text-muted container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2018. All
                rights
                reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>