<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sboj.gb</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-dark bg-color-dark">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-info h4" href="/">Sboj.gb</a>

        <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active col-md-4">
                    <a class="nav-link text-info h5" href="/">Home</a>
                </li>
                <li class="nav-item active col-md-4">
                    <a class="nav-link text-info h5" href="/login">Login</a>
                </li>
                <li class="nav-item active col-md-4">
                    <a class="nav-link text-info h5" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="my-3"/>
    <div class="jumbotron">
        <h1>Welcome to Sboj.gb</h1>
		<hr class="my-3">
        <p class="h4">The number #1 site for job applications in the world.</p>
        <p class="h4">You will find jobs in the Security sector, the Medicine sector, the Car sector and many more...</p>
        <hr class="my-3">
        <p><a href="/login">Login</a> if you have an account or <a href="/register">Register</a> now and access the greatest job offerings to exist.</p>
    </div>
    <hr class="my-5"/>
    <footer class="footer">
        <div class="container-fluid">
            <div class="text-muted container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.</div>
        </div>
    </footer>
</div>
</body>
</html>