<nav class="navbar navbar-default" >
  <div class="container-fluid main-header">
    <div class="navbar-header main-brand">
      <a class="navbar-brand navbar-link" href="/">Resident Evil</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/" class="navbar-link">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle navbar-link" data-toggle="dropdown" href="#">Viruses
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/viruses/show" class="navbar-link">Show</a></li>
          <li><a href="/viruses/add" class="navbar-link">Add</a></li>
        </ul>
      </li>
      <li><a href="/map" class="navbar-link">Map</a></li>
      <th:block th:if="${session.username == null}">
        <li><a class="navbar-link" href="/users/login">Login</a></li>
        <li><a class="navbar-link" href="/users/register">Register</a></li>
      </th:block>
      <li class="navbar-link" th:if="${session.username != null}">
        <form name="logoutForm" th:action="@{/users/logout}" method="post">
          <input class="navbar-link" type="submit" value="Sign Out"/>
        </form>
      </li>
    </ul>
  </div>
</nav>