<nav class="navbar navbar-default" xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="container-fluid main-header">
    <div class="navbar-header main-brand">
      <a class="navbar-brand navbar-link" href="/">Resident Evil</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/" class="navbar-link">Home</a></li>
      <li sec:authorize="isAuthenticated()" class="dropdown">
        <a class="dropdown-toggle navbar-link" data-toggle="dropdown" href="#">Viruses
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/viruses/show" class="navbar-link">Show</a></li>
          <li><a sec:authorize="hasAnyRole('MODERATOR', 'ADMIN')" href="/viruses/add" class="navbar-link">Add</a></li>
        </ul>
      </li>
      <li sec:authorize="isAuthenticated()"><a href="/map" class="navbar-link">Map</a></li>
      <th:block sec:authorize="isAnonymous()" >
        <li><a class="navbar-link" href="/users/login">Login</a></li>
        <li><a class="navbar-link" href="/users/register">Register</a></li>
      </th:block>
      <li><a sec:authorize="hasRole('ADMIN')" href="/users/all" class="navbar-link">All users</a></li>
      <li class="logout" sec:authorize="isAuthenticated()">
        <form name="logoutForm" th:action="@{/logout}" method="post">
          <input class="navbar-link" type="submit" value="Sign Out"/>
        </form>
      </li>
    </ul>
  </div>
</nav>