<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}"></div>
<body class="container-fluid" >
	<div th:replace="~{fragments/header}"></div>
	<h4 >Add Sale</h4>
	<form th:action="@{/sales/add}" th:method="post">
		<div class="form-group" >
		    <label for="customer">Customer</label>
		    <select class="form-control" id="customer" name="customer" th:required="required">
		        <option value="">Select Customer</option>
		        <option th:each="customer : ${customers}"
		                th:value="${customer.id}"
		                th:text="${customer.name}"></option>
		    </select>
		</div>
		<div class="form-group" >
		    <label for="car">Car</label>
		    <select class="form-control" id="car" name="car" th:required="required">
		        <option value="">Select Car</option>
		        <option th:each="car : ${cars}"
		                th:value="${car.id}"
		                th:text="${car.name}"></option>
		    </select>
		</div>
		<div class="form-group" >
		    <label for="discount">Discount</label>
		    <select class="form-control" id="discount" name="discount" th:required="required">
		        <option value="">Select Discount</option>
		        <option value="0.05">5 %</option>
		        <option value="0.10">10 %</option>
		        <option value="0.15">15 %</option>
		        <option value="0.25">25 %</option>
		        <option value="0.50">50 %</option>
		        <option value="0.75">75 %</option>
		    </select>
		</div>		
	  <button type="submit" class="btn btn-primary">Add Sale</button>
	</form>
</body>
</html>