<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}"></div>
<body class="container-fluid">
	<div th:replace="~{fragments/header}"></div>
	<ul class="list-group">
		<th:block th:each="part : ${parts}" th:object="${part}">
			<li class="list-group-item" >
				<span th:text="|Name: *{name} |" th:remove="tag"></span>
	    		<a th:href="@{/parts/edit/{id}(id=*{id})}" class='btn-info' aria-hidden='true'>Edit</a>
	    		<a th:href="@{/parts/delete/{id}(id=*{id})}" class='btn-danger' aria-hidden='true'>Delete</a>
			</li>
		</th:block>
	</ul>
</body>
</html>