<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:replace="fragments/navbar"></th:block>
    <!--<div class="danger" th:if="${!#strings.isEmpty(error)}">-->
        <h1 class="danger" th:text="${error}"></h1>
        <h1 class="success" th:text="${logout}"></h1>
    <!--</div>-->
    <form th:action="@{/login}" th:method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" />
        </div>
        <div class="form-group">
            <label for="rememberMe">Remember Me</label>
            <input type="checkbox" name="remember" class="form-control" id="rememberMe" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</body>
</html>