<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="fragments/navbar"></th:block>
    <h1 th:if="${nuggets.length == 0}">Your preferences have not been loaded yet, or are not supported by our database.</h1>
    <div th:if="${nuggets.length > 0}">
        <h1 class="text-center mt-3" th:text="${title}"></h1>
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="nugget,iter : ${nuggets}">
                <tr>
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="${nugget}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>