<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="~{fragments/head}"></div>
<body class="container">
	<div th:replace="~{fragments/header}"></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Magnitude</th>
				<th>Released On</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="virus,iter : ${viruses}" th:object="${virus}">
				<tr>
					<td th:text="${iter.index} + 1"></td>
					<td th:text="*{name}"></td>
					<td th:text="*{magnitude}"></td>
					<td th:text="*{releasedOn}"></td>
					<td><a th:href="@{/viruses/edit/{id}(id=*{id})}" class="btn btn-primary">Edit</a></td>
					<td><a th:href="@{/viruses/delete/{id}(id=*{id})}" class="btn btn-danger">Delete</a></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>