<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casebook</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
   $(loggedInHeader)
    <hr class="my-2"/>
    <div class="text-center mb-3">
        <h4 class="text-info">Casebook</h4>
        <h3 class="text-info">Connecting people</h3>
    </div>
    <hr class="my-2">
    <div class="container">
       <div class="container col-xs-6 mt-5 mb-5">
           $(friends)
       </div>
    </div>
    <hr class="my-3"/>
    $(footer)
    </footer>
</div>
</body>
</html>