<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casebook</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    $(loggedOutHeader)
    <hr class="my-2"/>
    <div class="text-center mb-3">
        <h1>Register</h1>
    </div>
    <hr class="my-2">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="form-holder text-center">
                <form class="form-inline" action="/register" method="POST">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label h3 mb-2" for="username">Username</label>
                            <div class="controls">
                                <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <br/>
                        <div class="control-group">
                            <label class="control-label h3 mb-2" for="password">Password</label>
                            <div class="controls">
                                <input type="password" id="password" name="password" placeholder=""
                                       class="input-xlarge">
                            </div>
                        </div>
                        <br/>
						<div class="control-group">
                            <label class="control-label h3 mb-2" for="confirmPassword">Confirm Password</label>
                            <div class="controls">
                                <input type="password" id="confirmPassword" name="confirmPassword" placeholder=""
                                       class="input-xlarge">
                            </div>
                        </div>
                        <br/>
						<div class="control-group">
                            <label class="control-label h3 mb-2" for="gender">Gender</label>
                            <div class="controls">
                                <input type="text" id="gender" name="gender" placeholder=""
                                       class="input-xlarge">
                            </div>
                        </div>
                        <br/>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-info">Register</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <hr class="my-3"/>
    $(footer)
</div>
</body>
</html>