<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Car Dealer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/customers/all/ascending">Customers</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/sales">All</a></li>
          <li><a href="/sales/discounted">Discounted</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/cars/add">Car</a></li>
          <li><a href="/customers/add">Customer</a></li>
          <li><a href="/parts/add">Part</a></li>
        </ul>
      </li>
      <li><a href="/cars/all">Cars</a></li>
      <li><a href="/parts/all">Parts</a></li>
    </ul>
  </div>
</nav>